.cover-image{
    max-height: 100px;
}

.group:hover .group-hover\:opacity-0 {
    opacity: 0;
}

.group:hover .group-hover\:opacity-100 {
    opacity: 1;
}
.container {
    margin-bottom: 1rem;
}
.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.section.active {
    opacity: 1;
    transform: translateY(0);
}

.blogs {
    scroll-snap-type: y mandatory;
}

.blogs > div {
    scroll-snap-align: start;
}
.timeline-container {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.timeline-content {
    width: 100%;
    max-width: 800px;
    position: relative;
    margin: 0 auto;
}

.timeline-year {
    margin-bottom: 2rem;
    position: relative;
}

.timeline-year h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
    z-index: 2;
}

.timeline-events {
    margin-left: 50px;
    position: relative;
}

.timeline-event {
    padding: 10px 0;
    border-left: 2px solid #ccc;
    position: relative;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(50px);
    opacity: 0;
}

.timeline-event.appear {
    transform: translateY(0);
    opacity: 1;
}

.timeline-date {
    font-size: 0.875rem;
    color: #777;
    margin-bottom: 0.25rem;
}

.timeline-title {
    font-size: 1.125rem;
    font-weight: bold;
    color: #333;
}

.timeline-description {
    font-size: 1rem;
    color: #555;
}

.timeline-significant-projects,
.timeline-ongoing-projects {
    margin-top: 1rem;
}

.timeline-significant-projects h3,
.timeline-ongoing-projects h3 {
    font-size: 1.125rem;
    font-weight: bold;
    color: #333;
}

.timeline-significant-projects ul,
.timeline-ongoing-projects ul {
    padding-left: 20px;
    list-style-type: disc;
    color: #555;
}

.timeline-year:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #ccc;
    z-index: 1;
}

@media (min-width: 768px) {
    .timeline-year {
        margin-bottom: 4rem;
    }

    .timeline-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeline-year:nth-child(even) .timeline-events {
        margin-left: 0;
        margin-right: 50px;
    }

    .timeline-year:nth-child(even) .timeline-event {
        border-left: none;
        border-right: 2px solid #ccc;
    }

    .timeline-year:nth-child(even):before {
        left: auto;
        right: 0;
    }

    .timeline-year:nth-child(even) .timeline-year h2 {
        text-align: right;
    }
}
